
    <main class="container">

      <div class="content">
        <div class="name">
          <strong>About J&N Decor</strong>
        </div>

        <div class="about">
          <p>New York City designers Julia Kopyeva and Neil Parsa have devoted twenty years of design collaboration to evolving their idea of casual elegance.</p>

          <p>The J&N line’s translation of showroom level design into an accessible collection has made them favorites of the design press. Noted design author and lecturer Diane Saeks has written of J&N “new products leap from their imaginations like sparks from a fire.”</p>

          <p>Whether turning that imagination toward interior design, furniture, artwork, lighting, or fashion, the end result is welcoming and relaxed with an original persona – classic yet fresh, luxurious, sophisticated and cool.</p>
        </div>
      </div>

      <div class="pic">
        <img src="https://www.olystudio.com/pub/media/wysiwyg/20160506_aboutus_png.png" alt="" />
      </div>
    </main>
</div>
  </body>
</html>
