	<div class="caption">
		<span class="border">J&N Decor</span> 
	</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


	<div class="maintext">
	<p><i>Throughout their distinguished career, J&N Decor has been praised for both the art and the craft of interior design.</i><br><br></p>
	<p style="font-size: 15px;">Find our email, github, and social media below.</p>
	</div>

	<footer class="foot">
	<a href="mailto:JandNDecor@gmail.com?Subject=Hello%20Neil" target="_blank" ><i class="fa fa-envelope-o fa-3" aria-hidden="true"></i></a>
	<a href="https://github.com/Geffern/decorwebsite" target="_blank"><i class="fa fa-github fa-3" aria-hidden="true"></i></a>
	<a href="https://www.facebook.com/zuck" target="_blank"><i class="fa fa-facebook-square fa-3" aria-hidden="true"></i></a>
	<a href="https://twitter.com/onedirection" target="_blank"><i class="fa fa-twitter fa-3" aria-hidden="true"></i></a>
	<a href="http://steamcommunity.com/id/geffern" target="_blank"><i class="fa fa-google-plus-square fa-3" aria-hidden="true"></i></a>
	</footer>
	</div>
