<!DOCTYPE html>
<html>
<head>
	<title>J and N Decor</title>
	<link rel="stylesheet" type="text/css" href="css/<%= @class_name %>.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Julius+Sans+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body class="<%= @class_name %>">
	<div class="navbar">
		<a href="/">Home</a>
		<a href="/inspiration">Inspiration</a>
		<a href="/about">About</a>
		<a href="/contact">Contact</a>
	</div>
	<div class="backgroundstuff">
	<%= yield %>





</body>
</html>